<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- visitor with an account & who's logged into the site -->

<!-- news/template/news/authorView.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<section class="author-view">
    {{ stories }}
    <h2>Stories for {{ author.username }}</h2>
    <div id="story-wrapper">
        {% for story in all_stories %}
            {% if story.img_url %}
                <img src="{{ story.img_url }}" alt="Story Image" class="story-image">
            {% else %}
                <img src="../static/news/images/placeholder-{{ position }}.jpg" alt="Placeholder Image" class="placeholder-image">
            {% endif %}
        <a href="{% url 'news:story' story.id %}"><h3>{{ story.title }}</h2></a>        
        <h5>{{ story.pub_date }}</h5>
        <h4>{{ stories }}</h4>
        <div id="story-content">
            {{ story.content|linebreaks }}
        </div>
    </div>
    {% endfor %}
</section>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available</p>
        {% endif %}
    </div>
{% endblock %}

<!-- Assignment Notes -->
<!-- This page is part of the News setup:
[ ] Part 1: View stories by a particular author; filtering stories by an authors username

-->