<!-- news/templates/news/deleteView.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<section class="Header_01">
    <div class="header_01">
        <h1>Delete Story</h1>
    </div>
</section>

<section id="delete-story">
    {% if request.user == story.author %}
        <h2>Hi, {{ user.username }}</h2>
        <p>Are you sure you want to delete the story?</p>
        <div class="delete-button">
            <form action="{% url 'news:deleteStory' story.id %}" method="post" class="form">
                {% csrf_token %}
                <input type="submit" value="Yes Delete My Story">
            </form>
            <br>
            <input type="submit" a href="{% url 'news:story' story.id %}" class="button" value="No Keep My Story"></a>
        </div>
    {% else %}
        <p>You are not logged in. Login to remove your story</p>
    {% endif %}
</section>

{% endblock %}