<!-- News Setup Step 12: adding a new view -->

<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<section id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h3 class="author-name">{{ story.author.username }}</h3>
    <p>{{ story.pub_date }}</p>
    
    <div id="story-content">
        {% if story.img_url %}
            <img src="{{ story.img_url }}">
        {% else %}
            <img src="{% static '/news/images/placeholder-5.jpg' %}">
        {% endif %}
    </div>
    <div class="story-text">{{ story.content|linebreaks }}</div> 
</section>

<section>
    {% if request.user.is_authenticated %}
        {% if request.user == story.author %}
            <a href="{% url 'news:editStory' story.id %}" class="button">Update Your Story</a>
            <br>
            <a href="{% url 'news:deleteStory' story.id %}" class="button">Delete Your Story</a>
        {% endif %}
    {% endif %}
</section>
{% endblock %}